.dawn-panel,
.dawn-container {
  border-radius: var(--dawn-border-radius);

  display: flex;
  flex-direction: column;
  align-self: flex-start;

  width: fit-content;
  max-width: 100%;
  width: 300px;
  min-height: 200px;

  box-sizing: border-box;

  background-color: var(--dawn-control-background);

  background-position: calc(100% + 40px) calc(100% + 40px);
  background-size: 150px;
  background-repeat: no-repeat;
  transition: var(--dawn-hover-transition);
}

.dawn-container {
  box-shadow: none;
  width: 100%;
  padding: 30px;
  margin: 10px;
  min-height: 100px;
}

.dawn-container:hover {
  background-color: var(--dawn-control-hover-background);
}

.dawn-panel-title {
  margin: 10px;
}

a:has(.dawn-panel) .dawn-panel:hover {
  background-color: var(--dawn-control-hover-background);
}

.dawn-panel-content {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.dawn-panel-row,
.dawn-panel-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 30px;
  margin-top: 30px;
}

.dawn-panel-column {
  flex-direction: column;
  margin-top: 0;
}

.dawn-panel-row-full {
  width: 100%;
}

.dawn-panel-row-full>* {
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .dawn-panel-row {
    align-items: center;
    margin: 0;
    margin-top: 30px;
    flex-direction: column;
  }

  .dawn-panel,
  .dawn-panel-row>a,
  a>.dawn-panel {
    width: 100% !important;
  }

  .dawn-panel>.dawn-content {
    box-sizing: border-box;
    margin: 20px;
  }
}